CONFIG_LOG_DEFAULT_LEVEL_VERBOSE=y
#CONFIG_LWIP_DEBUG=y
#CONFIG_LWIP_DEBUG_ESP_LOG=y
#CONFIG_LWIP_NETIF_DEBUG=y
#CONFIG_LWIP_SOCKETS_DEBUG=y
#CONFIG_LWIP_TCP_DEBUG=y
#CONFIG_MBEDTLS_DEBUG=y
CONFIG_ETHERNET_QEMU_CONNECT=y
